<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="ssd, hdd, slow computer, computadora lenta" />
    <meta name="description" content="Mi computadora esta muy lenta" />
    <meta name="author" content="Jerry Badilla Diaz" />
    <meta name="copyright" content="Jerry Badilla Diaz" />
    <title>Mi computadora está muy lenta</title>
    <link rel="stylesheet" href="/bootstrap-4.5.3-dist/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/css/pers.css" type="text/css">
    <link rel="stylesheet" href="/css/temabodydark.css" type="text/css">
    <link rel="stylesheet" href="/css/footer.css" type="text/css">
    <link rel="stylesheet" href="/css/margin.css" type="text/css">
    <link rel="icon" href="/img2/favicon.png" type="image/png" />
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v8.0&appId=369303940902742&autoLogAppEvents=1" nonce="CfC5DtWh"></script>
    <%- include('../partials/pixel') %>
    </head>

<%- include('../partials/main') %>
<%- include('../partials/logo') %>



<div class="container-fluid">
    <div class="row">
        <!--texto lateral izquierdo-->
        <div class="col-md-2 col-sm-12"></div>

        <!--texto centarl-->
        <div class="col-md-8 col-sm-12">
            <h1 class="text-title-ligth mt-5 text-center">¡Mi computadora está muy lenta!</h1>
            <div class="mt-4">
                <img src="/img/hdd/hdd-3.jpg" alt="HDD" class="rounded mx-auto d-block foto-respon">
            </div>

            <div class="h3-color-boton">
                <h3 class=" text-subtitilo-ligth text-center">Discos Duros</h3>
            </div>
            <div class="box-gray ">



                <p>Uno de los principales problemas que tienen los computadores, tanto laptops como Desktop es la
                    velocidad de acceso al disco duro; dicha velocidad es muy importante a la hora de acceder a
                    documentos como programas, siendo esta una de las principales causas de lentitud de las
                    computadoras.</p>
                <p>Cabe resaltar que los <strong>HDD mecanicos</strong> , tienden a fragmentar la informacion esto
                    debido a la forma de
                    escribir los datos, con el tiempo los archivos se encuentran en varias pistas del plato y esto
                    favorece al lento procesamiento de los datos, caso contrario a los <strong>SSD</strong> que su
                    almacenamiento se da
                    en un chip de memoria por endo no hay fragmentacion. </p>
                <p>Pero hoy en día eso dejo de ser un problema ya que, con el auge de la tecnología de almacenamiento,
                    los nuevos discos duros <em>SSD tienen una velocidad de lectura muy superior</em> a los discos duros
                    tradiciones (HDD).</p>
                <p>Si tu computador esta presentando problemas como lentitud a la hora de cargar el sistema operativo,
                    cuando inicias una aplicación o buscas un archivo en el directorio; es muy probable que tu problema
                    sea que tengas instalado un disco duro mecánico (HDD) y ya es hora que hagas una pequeña inversión y
                    te pases a la nueva tecnología SSD, no tienes que cambiar otra pieza de tu computadora a la hora de
                    actualizar a SSD.</p>


                <p>
                    No te preocupes por la compatibilidad, ya que ambos tipos de discos son estándar en cuanto al tipo
                    de conexión, ambos utilizan el puerto SATA .
                </p>
                <p>
                    Tampoco tendrás problemas con tus datos que la mayoría de estos discos incluyen un programa que te
                    ayuda a clonar tu disco viejo en el disco nuevo, además de visualizar una serie de graficas muy
                    importantes como cuanta vida le queda al disco, puedes apreciar mas datos en la captura de pantalla
                    que se muestra más abajo.
                </p>
            </div>


            <div class="h3-color-boton">
                <h3 class="text-center text-subtitilo-ligth">Ventajas del SSD</h3>
            </div>
            <div class="box-gray ">


                <ul class="list-margin">
                    <li>Los SSD tienen menos tiempo de espera, son más rápidos para leer/escribir
                        que los HDD</li>
                    <li>Como no hay rotación en un SSD, usan menos energía y no generan calor o ruido</li>
                    <li>El desempeño de un SSD no se ve afectado por fragmentación y no necesitan ser defragmentados
                    </li>
                    <li>Los SSD no tiene partes móviles porque son en esencia un chip de memoria compuesto de
                        circuitos integrados interconectados con un conector de interfase, Tienen 3 componentes:
                        controlador, capacitador y memoria operacional.</li>
                    <li>Los SSD pueden aguantar vibraciones de hasta 1900 Hz, mucho más que un HDD</li>
                    <li>Son mas livianos al no tener partes metálicas, como motores y platos.</li>

                </ul>
            </div>

            <div class="my-5 box-anu">
                <div class="row  d-flex justify-content-center ">

                    <iframe style="width:120px;height:180px;" marginwidth="0" marginheight="0" scrolling="no" class="mt-3"
                        frameborder="0"
                        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=hardsofweb-20&marketplace=amazon&region=US&placement=B073SBZ8YH&asins=B073SBZ8YH&linkId=0a0e48812e7c2d22892ba05685f6d4f3&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
                    </iframe>

                    <iframe style="width:120px;height:180px;" marginwidth="0" marginheight="0" scrolling="no" class="mt-3"
                        frameborder="0"
                        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=hardsofweb-20&marketplace=amazon&region=US&placement=B01N5IB20Q&asins=B01N5IB20Q&linkId=d258a0976c0dfc3073dba04c7056780f&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
                    </iframe>

                    <iframe style="width:120px;height:180px;" marginwidth="0" marginheight="0" scrolling="no" class="mt-3"
                        frameborder="0"
                        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=hardsofweb-20&marketplace=amazon&region=US&placement=B07D998212&asins=B07D998212&linkId=ebcd7a361202d557a5d2ed1d0a2a461e&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
                    </iframe>
 
                    <iframe style="width:120px;height:180px;" marginwidth="0" marginheight="0" scrolling="no" class="mt-3"
                        frameborder="0"
                        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=hardsofweb-20&marketplace=amazon&region=US&placement=B077SF8KMG&asins=B077SF8KMG&linkId=16f6f7a41b3ad4734cf1657a81b078ec&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
                    </iframe>

                </div>
                <p class="mt-5 text-center"> <strong>Nota</strong> <em>Recuerda que los SSD varian de precio, segun su
                        capacidad.</em></p>
            </div>




            <div class="h3-color-boton mt-3">
                <p class="text-center text-subtitilo-ligth">Los SSD cuantan con programas para monitorear diversos
                    aspectos
                    tecnicos, como la salud, ect.</p>
            </div>
            <div class="mt-4">
                <img src="/img/hdd/foto-1.jpg" alt="HDD" class="rounded mx-auto d-block foto-respon-2">
            </div>



            <div class="h3-color-boton mt-3">
                <p class="text-center text-subtitilo-ligth">Existen diversos tipos de discos SSD, los hay de tres
                    formatos
                    bien definidos</p>
            </div>








            <div class="row ">
                <div class="col-md-4 col-sm-12">
                    <div class="card mr-3 mt-3 " style="width: 100%;">
                        <img src="/img/hdd/sata.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Los SATA, son los conectores tradicionales y su conector se miran de la
                                siguiente forma, su taza de transferencia ronda los 6Gb/s. <br>
                                Este tipo de disco es el mas recomendado para sustituir el disco de una computadora
                                portatil.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="card mr-3 mt-3" style="width: 100%;">
                        <img src="/img/hdd/evo.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Los SSD M.2 han venido a solucionar el problema del tamaño y además
                                están desplazando al disco de estado sólido tradicional por sus mayores prestaciones y
                                velocidad. Las memorias o discos SSD M.2 <br>
                                La diferencia radica en el tamaño del disco, estos son hechos para placas base más
                                modernas con su conector integrado en la tarjeta madre.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="card mr-3 mt-3" style="width: 100%;">
                        <img src="/img/hdd/ssd-pci-wd.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">También tenemos los PCIe, estos se conectan al puerto pci express y son
                                la opción con mayores rangos de velocidad superando en gran medida a los SATA, no
                                obstante tener presente que si ya nuestro pci e 16x esta ocupado por la tarjeta de video
                                no será de mucha ayuda conectarlo en otra ranura expresas de menor velocidad.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row  d-flex justify-content-center my-5 box-anu">

                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" class="mt-3"
                    frameborder="0"
                    src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=hardsofweb-20&marketplace=amazon&region=US&placement=B07YFFX5MD&asins=B07YFFX5MD&linkId=902b4d7bb5d1014ccc1422fd004ce22a&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
                </iframe>

                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" class="mt-3"
                    frameborder="0"
                    src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=hardsofweb-20&marketplace=amazon&region=US&placement=B08GL575DB&asins=B08GL575DB&linkId=a0e0bec1c878c5746379f7afc16bf893&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
                </iframe>

                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" class="mt-3"
                    frameborder="0"
                    src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=hardsofweb-20&marketplace=amazon&region=US&placement=B087QRVVVH&asins=B087QRVVVH&linkId=5f0953bde3ffdf8a1b804d18c937e9cd&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
                </iframe>

                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" class="mt-3"
                    frameborder="0"
                    src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=hardsofweb-20&marketplace=amazon&region=US&placement=B07BN217QG&asins=B07BN217QG&linkId=a6f2db5c531a5213b0b70639654a844f&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
                </iframe>

            </div>
                <div class="box-fb">
                    <h5 class="text-center">Dejanos tus comentarios</h5>
                    <div class="fb-comments" data-href="https://www.hardsof.com/hardware/ssd" data-numposts="5" data-width="100%"></div>
                </div>

        </div>






        <!--texto lateral derecho-->
        <div class="col-md-2 col-sm-12">

        </div>




    </div>
</div>





<%- include('../partials/footer') %>






