<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="temas varios, tecnologia, software, hardware" />
    <meta name="author" content="Jerry Badilla Diaz" />
    <meta name="copyright" content="Jerry Badilla Diaz" />
    <title>Mi computadora está muy lenta</title>
    <link rel="stylesheet" href="/bootstrap-4.5.3-dist/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/css/pers.css" type="text/css">
    <link rel="stylesheet" href="/css/temabodydark.css" type="text/css">
    <link rel="stylesheet" href="/css/footer.css" type="text/css">
    <link rel="stylesheet" href="/css/margin.css" type="text/css">
    <link rel="icon" href="/img2/favicon.png" type="image/png" />
</head>

<%- include('partials/main') %>
<%- include('partials/logo') %>



<div class="container-fluid">
    <div class="row">
        <!--texto lateral izquierdo-->
        <div class="col-md-1 col-sm-12"></div>

        <!--texto centarl-->
        <div class="col-md-9 col-sm-12">

            <!--contenido 1-->
            <div class="row border-butom ">
                <div class="col-sm-12 col-md-6">
                    <img src="/img/mapsme/mountain-gps.jpg" alt="GPS"
                        class="rounded mx-auto d-block foto-respon-home mb-3">
                </div>
                <div class="col-sm-12 col-md-6">
                    <p class="text-home py-auto"> Eres de las personas amantes de los <em>deportes con seguimientos
                            GPS</em> , pero te estresas cuando te quedas sin conexión a internet o estas en una zona sin
                        cobertura celular. No te preocupes ya que existen muchas soluciones para ti. En este articulo te
                        comentare sobre una, que para mi es una de las mejores, ya que cumple con lo que dice, es gratis
                        y la cantidad de anuncios es muy tolerable ya que no nos damos cuenta de los mismos. (muy
                        limpia). <br> <a href="/mobil/sofware/mapme"> Segir leyendo... </a> </p>
                </div>
            </div>

            <!--contenido 2-->
            <div class="row border-butom">
                <div class="col-sm-12 col-md-6">
                    <img src="/img/smartgm/mobile-1.jpg" alt="SSD"
                        class="rounded mx-auto d-block foto-respon-home mb-3">
                </div>
                <div class="col-sm-12 col-md-6">
                    <p class="text-home"> Los teléfonos de gama media son siempre una opción para muchas de las
                        personas, ya sea porque no pueden o no quieren pagar caprichos por un teléfono de gama alta, que
                        al fin y al cabo todo ese potencial no se aprovecha como debe ser, por lo general usamos nuestro
                        teléfono para tareas básicas como llamar, enviar msj por las aplicaciones ya conocidas, eje:
                        WhatsApp, mirar Facebook y tomar fotografías. Y eso lo hace cualquier teléfono en la actualidad.
                        <br> <a href="/mobil/hardware/smartGM"> Segir leyendo... </a> </p>
                </div>
            </div>

            <!--contenido 3-->
            <div class="row border-butom ">
                <div class="col-sm-12 col-md-6">
                    <img src="/img/hdd/hdd-3.jpg" alt="GPS" class="rounded mx-auto d-block foto-respon-home mb-3">
                </div>
                <div class="col-sm-12 col-md-6">
                    <p class="text-home"> Uno de los principales problemas que tienen los computadores, tanto laptops
                        como Desktop es la
                        velocidad de acceso al disco duro; dicha velocidad es muy importante a la hora de acceder a
                        documentos como programas, siendo esta una de las principales causas de lentitud de las
                        computadoras. <br> <a href="/hardware/ssd"> Segir leyendo... </a> </p>
                </div>
            </div>



        </div>






        <!--texto lateral derecho-->
        <div class="col-md-2 col-sm-12">

        </div>




    </div>
</div>





<%- include('partials/footer') %>