

<div class="container">

    <h4 class="l-green  mt-5">Otros temas de interes...</h4>

<div class="row  box-white my-3  pt-xy border-t  ">

    <div class="col-md-6 my-3 pb-4 border-b">
        <div class="d-flex justify-content-center pt-xy ">
            <div class="col-md-6 pt-xy">
                <a href="/mobil/sofware/mega"><img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1606008865/mega/mega-index_ai8ydz.png" alt="mega cloud" class="foto-respon-80 text-float"></a>
                
            </div>
            <div class="col-md-6   pt-xy my-auto">
                <h6 class="ml-3 l-red ">Mega Cloud</h6>
                <p>Sabias que el sistema de almacenamiento en la nube de MEGA te ofrece 50 GB de espacio de forma gratuita...</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 my-3 pb-4 border-b">
        <div class="d-flex justify-content-center pt-xy ">
            <div class="col-md-6 pt-xy">
                <a href="/windows/sofware/one_drive"><img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1605833047/onedrive/ONEDRIVE-MOBIL_z7dfqh.png" alt="one drive" class="foto-respon-80 text-float"></a>
                
            </div>
            <div class="col-md-6   pt-xy my-auto">
                <h6 class="ml-3 l-red ">Microsoft One Drive</h6>
                <p>Descubre como puedes acceder al sistema de almacenamiento en la nube de One Drive...</p>
            </div>
        </div>
    </div>








    <div class="col-md-6 my-3 pb-4  border-b">
        <div class="d-flex justify-content-center pt-xy ">
            <div class="col-md-6 pt-xy">
                <a href="/hardware/ram"><img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1604965386/basico/ram_gymfne.jpg" alt="memoria ram" class="foto-respon-80 text-float"></a>
                
            </div>
            <div class="col-md-6 pt-xy my-auto">
                <h6 class="ml-3 l-red ">Momoria ram (DDR4)</h6>
                <p>La importancia de la memoria ram.</p>
            </div>
        </div>
    </div>












    <div class="col-md-6 my-3 pb-4 border-b">
        <div class="d-flex justify-content-center pt-xy ">
            <div class="col-md-6 pt-xy">
                <a href="/hardware/disco_duro"><img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1604965412/basico/hard-dis_b63381.jpg" alt="disco-duro" class="foto-respon-80 text-float"></a>
                
            </div>
            <div class="col-md-6   pt-xy my-auto">
                <h6 class="ml-3 l-red ">Discos Duros</h6>
                <p>Discos duros y sus diferentes formatos y los nuevos ssd...</p>
            </div>
        </div>
    </div>



    <div class="col-md-6 my-3 pb-4 border-b ">
        <div class="d-flex justify-content-center pt-xy ">
            <div class="col-md-6 pt-xy">
                <a href="/mobil/hardware/smartGM"><img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1604965398/basico/mobile-1_cgrpoq.jpg" class="foto-respon-80 text-float"></a>
                
            </div>
            <div class="col-md-6 pt-xy my-auto">
                <h6 class="ml-3 l-red "> Telefonos gama media</h6>
                <p>Conoce las principales caracteristicas al comprar mobil gama media</p>
            </div>
        </div>
    </div>

    


    <div class="col-md-6 my-3 pb-4 border-b">
        <div class="d-flex justify-content-center pt-xy ">
            <div class="col-md-6 pt-xy">
                <a href="/mobil/sofware/mapme"><img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1604965365/basico/mountain-gps_fhoygm.jpg" class="foto-respon-80 text-float"></a>
                
            </div>
            <div class="col-md-6   pt-xy my-auto">
                <h6 class="ml-3 l-red ">Maps.me</h6>
                <p>Mapa con seguimiento gps sin conexion...</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 my-3 pb-4 border-b">
        <div class="d-flex justify-content-center pt-xy ">
            <div class="col-md-6 pt-xy">
                <a href="/hardware/ssd"><img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1604965341/basico/hdd-3_o3z6ea.jpg" class="foto-respon-80 text-float"></a>
                
            </div>
            <div class="col-md-6   pt-xy my-auto">
                <h6 class="ml-3 l-red ">ventajas de los SSD</h6>
                <p>Conoces las ventajas de cambiar nuestro viejo HDD por ...</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 my-3 pb-4 border-b">
        <div class="d-flex justify-content-center pt-xy ">
            <div class="col-md-6 pt-xy">
                <a href="/windows/sofware/crear_usuario_invitado_windows"><img src="https://res.cloudinary.com/dyeds74sp/image/upload/v1604796278/usuario/windows-10_gocthc.jpg" class="foto-respon-80 text-float"></a>
                
            </div>
            <div class="col-md-6   pt-xy my-auto">
                <h6 class="ml-3 l-red ">Cuenta de usuario en Windows 10</h6>
                <p>Como crear cuentas usuario e invitado en win10</p>
            </div>
        </div>
    </div>



  




<!--fin de la fila-->    
</div>

</div>























