<%- include('partials/header') %>
<link rel="stylesheet" href="/css/temabodygray.css" type="text/css">

<div class="container">
    <h1 class="text-center my-5">File not found</h1>
    <p class="text-center my5">
        The site configured at this address does not contain the requested file.
    </p>
</div>