.footer-logo{
    color: whitesmoke;
    letter-spacing: 8px;
    font-size: 1em;
}

.footer-logo-1{
    color: #00ff00;
    font-size: 1.5em;
    font-weight: 750;

}

.text-footer{
    font-size: 0.8em;
    color: whitesmoke;
}

.footer-black{
  background-color: #04021F;
}

.border-verde{
    border-top: 3px solid #00ff00;
}

.footer{
    margin-top: 20px; 
}

.navbar .nav-item:not(:last-child) {
    margin-right: 35px;
  }
   
.dropdown-toggle::after {
     transition: transform 0.15s linear; 
  }
   
.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
  }

  .dropdown-menu {
    margin-top: 0;
  }


.foto-respon-home{
  width: 90%;
  height: auto;
}

.text-home{
  color: azure;
}


.px-0{
  padding-left: 1%;
  padding-right: 1%;
}

.logo-bkg-black{
  background-color: #1D0136;
  height: 150px;
  
}


