.footer-logo{
    color: whitesmoke;
    letter-spacing: 8px;
    font-size: 1em;
}

.footer-logo-1{
    color: #00ff00;
    font-size: 1.5em;
    font-weight: 750;

}

.text-footer{
    font-size: 0.8em;
    color: whitesmoke;
}

.footer-black{
  background-color: #0b0813;
}

.border-y{
  padding-right: 15%;
  padding-left: 15%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-top: 1px solid #5e4472;
  border-bottom: 1px solid #5e4472;
 
 
}



.border-verde{
    border-top: 3px solid #00ff00;
}

.footer{
    margin-top: 20px; 
}

.navbar .nav-item:not(:last-child) {
    margin-right: 35px;
  }
   
.dropdown-toggle::after {
     transition: transform 0.15s linear; 
  }
   
.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
  }

  .dropdown-menu {
    margin-top: 0;
  }


.foto-respon-home{
  width: 90%;
  height: auto;
}

.text-home{
  color: azure;
}


.px-0{
  padding-left: 1%;
  padding-right: 1%;
}

.logo-bkg-black{
  /*background-color: #1D0136;*/
  height: 300px;
  background-image: url(/img2/cyber-3400789_1920.jpg);
  
}

@media only screen and (max-width: 800px){
  .logo-bkg-black{
    height: 110px;
    background-image: url(/img2/cyber-3400789_1920.jpg);
  }
  .sombra{
    -webkit-box-shadow: 13px 17px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 17px 5px -1px rgba(0,0,0,0.75);
     box-shadow: 13px 17px 5px -1px rgba(0,0,0,0.75);
    }
}

.foto-logo-footer{
  width: 20%;
}


.icon-f{
  width: 50px;
  height: 50px;
}


.logo-face{
  width: 50px;
  height: 50px;
  
}

.px-auto{
  padding-right: auto;
  padding-left: auto;
}

.py-auto{
  padding-bottom: auto;
  padding-top: auto;
}
 