@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
    font-display: swap;
  }


.l-red{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(235, 61, 61);
}

.l-red-n{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(235, 61, 61);
    font-weight: bold;
}


.l-black{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(10, 10, 10);
}

.l-black-n{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(10, 10, 10);
    font-weight: bold;
}

.l-white{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(252, 252, 252);
}

.l-green{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(48, 168, 24);
}


.l-red{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(235, 61, 61);
}

.l-blue{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3B55FF;
}

.l-blue-n{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3B55FF;
    font-weight: bold;
}

em{
    color: rgb(13, 13, 235);
    
}

.pie-nota{
    color: rgb(22, 78, 22);
    font-size: 0.8em;
    
}
.cursive{
    font-family: cursive;
}

.size-p{
    font-size: 1.25em;
}


.back-name{
    background-color: #cfc9c6;
}

.back-comen{
    background-color: #cedadb;
}

.texto-1{
    font-size: 0.8em;
}


