.l-red{
    font-family: 'Itim', cursive;
    color: rgb(235, 61, 61);
}

.l-black{
    font-family: 'Itim', cursive;
    color: rgb(10, 10, 10);
}

.l-white{
    font-family: 'Itim', cursive;
    color: rgb(252, 252, 252);
}

.l-green{
    font-family: 'Itim', cursive;
    color: rgb(48, 168, 24);
}

.l-red{
    font-family: 'Itim', cursive;
    color: rgb(235, 61, 61);
}

