

.title-logo{
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
}





.text-logo{
    color: whitesmoke;
    letter-spacing: 8px;
}

.text-logo-1{
    color: #00ff00;
    font-size: 3.5em;
    font-weight: 750;

}


.text-center-per{
    display: inline;
    
}

.lineal{
    display: inline;
    
}

.logo-recuadro{
    border-left: 3px solid #00ff00;
    border-right: 3px solid #00ff00;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5%;
    
}

strong{
    color: #202028;
}


.box-anu{
    
    
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 1%;
    margin-right: 1%;
    
}

iframe{
    margin-left: 15px;
    margin-right: 15px;
}


.box-gray{
    padding-bottom: 3%;
    padding-top: 3%;
    /*margin-left: 10%;*/
    /*width: 80%;*/
    height: auto;
    background-color: rgb(126, 119, 119);
    color: rgb(253, 250, 250);
    margin-top: 15px;
}

.box-white{
    padding-bottom: 3%;
    padding-top: 3%;
    /*margin-left: 10%;*/
    /*width: 80%;*/
    height: auto;
    background-color: whitesmoke;
    color: black;
    margin-top: 15px;
}

.box-trasp{
    padding-bottom: 3%;
    padding-top: 3%;
    height: auto;
    color: black;
    margin-top: 0px; 
}

.box-tur{
    padding-bottom: 3%;
    padding-top: 3%;
    height: auto;
    color: black;
    background-color:  #d9d8da;
    margin-top: 15px; 
}

div p {
    padding-left: 7%;
    padding-right: 7%;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    

}


.h3-color-boton{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 15%;
    margin-left: 15%;
    border-bottom: 3px solid #00ff00;

}

.border-butom{
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 1%;
    margin-left: 1%;
    border-bottom: 3px solid #00ff00;
}



.list-margin{
    padding-left: 7%;
    padding-right: 7%;
}

ul li{
    padding-top: 5px;
    padding-bottom: 5px;
}

.ml-10{
    margin-left: 10%;
    margin-right: 10%;
}

.btn-menu{
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.float-r{
    float: right;
}

.ml-10{
    margin-right: 6%;
}

.box-fb{
    background-color: rgb(207, 199, 199);
    padding-right: 1%;
    padding-left: 1%;
}

.mx-centro{
    margin-left: 15%;
    margin-right: 15%;
}

.border-red{
    border: 1px solid rgb(230, 137, 137);
}

.border-white{
    border: 1px solid rgb(247, 247, 247);
}

.border-black{
    border: 1px solid rgb(14, 13, 13);
}

.border-b-white{
    border-bottom: 1.5px solid #5e4472;
}

.border-t-white{
    border-top: 7px solid #5e4472;
}

.border-b-tur{
    
    border-bottom: 3px solid #5e4472;
    
   
}

.sombra{
-webkit-box-shadow: 13px 17px 5px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 13px 17px 5px -1px rgba(0,0,0,0.75);
 box-shadow: 13px 17px 5px -1px rgba(0,0,0,0.75);
}



@media only screen and (max-width: 800px){
    .mx-centro{
        margin-left: 2%;
        margin-right: 2%;
    }
}