
<div class="container-fluid footer">
    <div class="row title-logo">
            <div class="mx-auto my-auto">
                <div class="">
                    <h3 class="footer-logo lineal">HARD</h3>
                   <h1 class="footer-logo-1 lineal">SOF</h1>
                </div>
                <div class="border-verde">
                    <h3 class="text-footer">Derechos reservados</h3>
                   
                </div>
            </div>
    </div>
</div>





<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="/bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>    
</body>
</html>