
<div class="logo-bkg-black ">
    <div class="container-fluid mt-5">
        <div class="row title-logo footer-black sombra border-b-white">
                <div class="mx-auto my-auto ">
                    <div class="logo-recuadro">
                        <h3 class="text-logo lineal">HARD</h3>
                       <h1 class="text-logo-1 lineal">SOF</h1>
                    </div>
                </div>
        </div>
    </div>
</div>









        