
<body>
   
 

  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        Home
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
        
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mobil
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <a class="dropdown-item" href="/mobil/sofware/mapme">Mapas sin conexion</a>
              <a class="dropdown-item" href="#"></a>
              
            </div>
          </li><!--
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Windows
            </a>
            <div class="dropdown-menu " aria-labelledby="navbarDropdown2">
              <a class="dropdown-item" href="#"></a>
              <a class="dropdown-item" href="#"></a>
             
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Linux
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <a class="dropdown-item" href="#"></a>
              <a class="dropdown-item" href="#"></a>
           
            </div>
          </li>-->
          
        </ul>
      </div>
    </div>
  </nav>



  
        <div class="container-fluid">
          <div class="row title-logo">
                  <div class="mx-auto my-auto">
                      <div class="logo-recuadro">
                          <h3 class="text-logo lineal">HARD</h3>
                         <h1 class="text-logo-1 lineal">SOF</h1>
                      </div>
                  </div>
          </div>
      </div>