
<body>
   
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Hardware</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Windows </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Mobil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Linux</a>
              </li>
              
            </ul>
          </div>
        </nav>
  
        <div class="container-fluid">
          <div class="row title-logo">
                  <div class="mx-auto my-auto">
                      <div class="logo-recuadro">
                          <h3 class="text-logo lineal">HARD</h3>
                         <h1 class="text-logo-1 lineal">SOF</h1>
                      </div>
                  </div>
          </div>
      </div>