
<body>
   
 

  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
    <div class="container-fluid ">
      <a class="navbar-brand" href="/">
        <i class="fas fa-home mr-2"></i> Home
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ml-10" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
        
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-mobile-alt mr-2"></i> Mobil
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <a class="dropdown-item" href="/mobil/sofware/mapme">Mapas sin conexion</a>
              <a class="dropdown-item" href="/mobil/hardware/smartGM">Telefonos gama media</a>
              
            </div>
          </li> 

          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-mobile-alt mr-2"></i> Windows
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <a class="dropdown-item" href="/windows/sofware/crear_usuario_invitado_windows">Tipos usuario en Windows</a>
              
              
            </div>
          </li>

          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-microchip mr-2"></i> Hardware
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <a class="dropdown-item" href="/hardware/ssd">Computadora lenta (SSD)</a>
              <a class="dropdown-item" href="/hardware/ram">Gestion de la memoria</a>
              <a class="dropdown-item" href="/hardware/disco_duro">Disco Duro</a>
            </div>
          </li>     
              
            
           
          
        </ul>
      </div>
    </div>
  </nav>



  
