<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="celular, barato, gama media, bueno, bonito"/>
    <meta name="description" content="valen la pena los telefonos inteligentes baratos"/>
    <meta name="author" content="Jerry Badilla Diaz" />
    <meta name="copyright" content="Jerry Badilla Diaz" />
    <title>mapas sin conexión</title>
    <link rel="stylesheet" href="/bootstrap-4.5.3-dist/css/bootstrap.css"  type="text/css">
    <link rel="stylesheet" href="/css/pers.css" type="text/css">
    <link rel="stylesheet" href="/css/footer.css" type="text/css">
    <link  rel="icon"   href="/img2/favicon.png" type="image/png" />
</head>

<%- include('../../partials/main') %>
<%- include('../../partials/logo') %>

<div class="container-fluid">
    <div class="row">
        <!--colunma izquierda-->
        <div class="col-sm-12 col-md-1"></div>
        
        <!--colunma principal-->
        <div class="col-sm-12 col-md-9">
            <h1 class="text-title-dark mt-5 text-center">Valen la pena los telefonos inteligentes gama media </h1>
            <div class="mt-4">
                <img src="/img/smartgm/mobile-1.jpg" alt="GPS" class="rounded mx-auto d-block foto-respon">
            </div>
            <div class="h3-color-boton">
                <h4 class="text-center text-subtitilo-dark">Teléfonos inteligentes gama media</h4>
            </div>

            <div class="box-white">
                <p>
                    Los teléfonos de gama media  son siempre una opción para muchas de las personas, ya sea porque no pueden o no quieren pagar caprichos por un teléfono de gama alta, que al fin y al cabo todo ese potencial no se aprovecha como debe ser, por lo general usamos nuestro teléfono para tareas básicas como llamar, enviar msj por las aplicaciones ya conocidas, eje:  WhatsApp, mirar Facebook y tomar fotografías. Y eso lo hace cualquier teléfono en la actualidad.
                </p>
                <h4 class="text-center mt-5 mb-5">Un poco de historia</h4>
                <p>
                    En el año 2010 es cuando realmente inicia el boom de los smartphone, las ventas superaron a los teléfonos convencionales , cambiando la forma en que las personas se relacionaban para siempre, se incrementó exponencialmente las conexiones a internet ya que los smartphones  más básicos tenían conectividad a Internet.
                </p>
                <p>
                    En esta década comenzaron a aparecer las pantallas full HD, pantallas curvas, cámaras con grabación de video 4K, lectores de huellas dactilares, desbloque facial, etc.
                </p>
                <p>
                    Los componentes básicos de un teléfono inteligente son siempre los mismos para todas las marcas, de ahí la importancia de saber un poco de este tema, para seleccionar de forma inteligentes un buen dispositivo respecto a su precio/calidad, y no morir en el intento.
                </p>
            </div>
            <div class="h3-color-boton">
                <h4 class="text-center text-subtitilo-dark">Aspectos más relevantes</h4>
            </div>

            <div class="box-white">
                <p>
                    Definitivamente la <strong>cámara fotográfica</strong>   es un punto super importante, en estos tiempos que tanto compartimos fotos por medio de redes sociales.
                </p>
                <p>
                    <strong>Las pantallas</strong>  serias bueno que sean HD o FULLHD, sin importar mucho su tecnología que pueden ser LED, IPS, OLED, AMOLED o Super AMOLED.
                </p>
                <p>
                    Un buen teléfono tiene <strong>cámara para selfie</strong>  de 8 MP (MP significa megapíxeles), este es un buen numero, selecciona siempre de este número hacia arriba, con respecto a la cámara principal selecciona de 13 MP hacia arriba, recuerda que hoy en día vienen con dos cámaras principales, normalmente la segunda es de 5MP en adelante, esta ultima la utiliza el sistema para los efectos de desenfoque.
                </p>
                <p>
                    Otro elemento del teléfono a tener en cuanta es la  memoria <strong>ram</strong>  (la ram es la memoria de trabajo en tiempo real del smartphone) entre más ram mucho mejor para el sistema. En la actualidad este rango debe de estas en 3GB (gigabyte) hacia adelante.
                </p>
                <p>
                    <strong>Almacenamiento:</strong>  es la parte del teléfono donde guardamos los datos como las fotos, documentos, etc. Seria muy buenos buscar teléfonos con 64GB como mínimo, para no tener problemas a corto plazo por almacenamiento. 
                </p>
                <p>
                    Con respecto al <strong>procesador</strong> , este es un tema muy amplio ya que existen muchas marcas y cada fabricante tiene sus preferidos, pero te pudo decir que estés al tanto de la velocidad que se mide en ciclos por segundo, un buen numero puede ser 2 GH (2 gigahercio), también fijarse en la cantidad de núcleos, esto significa número de procesadores físicos instalados en el teléfono, eje:
                </p>
                <p>
                    Quadcore: 4 procesadores en uno 
                </p>
                <p>
                    Octacore: 8 procesadores en uno.
                </p>
                <p>
                    En cuanto al WI-FI y BLUETOOTH esto no es tan relevante, todos te van a funcionar.
                </p>
            </div>

            <div class="box-white">
                <p>
                    Siguiendo los parámetros descritos en este artículo, podemos ver algunos ejemplos de celulares que existen actualmente en venta y que cumplen con lo descrito en este post.
                </p>

            </div>

            <div class="box-white">
                <div class="h3-color-boton">
                    <h5 class="text-center text-subtitilo-dark">BLU VIVO X6-6.1" HD+ Display, 64GB+3GB RAM - Gradient Azul </h5>
                </div>
                <h6>Tamaño: 64 GB </h6>

                <iframe style="width:120px;height:240px;" class="float-r" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=hardsofweb-20&marketplace=amazon&region=US&placement=B0843HCT63&asins=B0843HCT63&linkId=dc34547177e75c30b7838f649153a3ef&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
                </iframe>

                <ul>
                    <li>Pantalla de cristal curvado de 6,1 pulgadas HD+ 19:9. </li>
                    <li>Cámara principal con sensor de profundidad dual de 13 MP+ con flash LED y cámara selfie de 13 MP. </li>
                    <li>Memoria interna de 64 GB, 3 GB de RAM, Micro SD de hasta 64 GB, procesador Octa-Core de 1,6 GHz, ARM Corterx-A55 con GPU IMG8322. </li>
                    <li>Batería de 4000 mAh con 10 W de carga rápida, Android 9 Pie y Fingerprint Senor. </li>
                    <li>4G LTE (1/2/3/4/5/7/12/17/28) 3G: (850/900/1700/1900/2100): compatibilidad con Estados Unidos en todo el país en todas las redes GSM incluyendo AT&T, T-Mobile, Cricket, Metro PCS, y otros. (No compatible con redes CDMA como Verizon, Sprint y Boost Mobile) </li>
                </ul>
               

            </div>

            <div class="box-white">
                <div class="h3-color-boton">
                    <h5 class="text-center text-subtitilo-dark">Xiaomi Redmi 9 64GB, 4GB RAM, 6.53 pulgadas Full HD + Cámara AI Quad, LTE Factory, Smartphone desbloqueado, versión Internacional  </h5>
                </div>
                <h6>Tamaño: 64 GB </h6>
                <iframe style="width:120px;height:240px;" marginwidth="0" class="float-r" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=hardsofweb-20&marketplace=amazon&region=US&placement=B08B3NVQ7V&asins=B08B3NVQ7V&linkId=5746724d708d659a87333eed353f63a8&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
                </iframe>
                <ul>
                    <li>Bandas LTE 1/3/7/8/20/28/38/40 >  Soporta tarjeta nano-SIM dual + expansión micro-SD, cualquiera de las tarjetas se puede configurar como la tarjeta principal </li>
                    <li>Pantalla FHD+ de 6.53 pulgadas, 2340 x 1080 FHD+, 394 PPI, vidrio frontal Corning Gorilla Glass 3, Desbloqueo AI Face, sensor de huellas dactilares en la parte posterior. </li>
                    <li>Media Tek Helio G80 - Memoria RAM de 64GB y 4GB compatible con WiFi de 2.4G, WiFi 5G, WiFi directo, visualización de WiFi, batería recargable de 5020 mAh integrada. </li>
                    <li>Cámara principal: 13 MP + 8 MP + 5 MP + 2 MP - Cámara frontal: Cámara selfie de 8 MP - Modo retrato, HDR, temporizador para selfie, modo ultra gran angular, modo macro - Video: 1080p, 30 fps </li>
                    <li>Los teléfonos celulares desbloqueados de fábrica son compatibles con la mayoría de los operadores GSM (como T-Mobile o AT&T) pero ten en cuenta que no son compatibles con los operadores CDMA (como Sprint, Boost o Verizon Wireless por ejemplo). ID de FCC: 2AFZZJ19G. </li>
                </ul>

            </div>

            <div class="box-white">
                <div class="h3-color-boton">
                    <h5 class="text-center text-subtitilo-dark">Motorola Moto G6 (64GB, 4GB RAM) 5.7" Full HD+ Display, Dual SIM 4G LTE (sólo GSM) Desbloqueado de fábrica Smartphone - Modelo Internacional XT1925-13 (Indigo Black)   </h5>
                </div>
                <h6>Tamaño: 64 GB </h6>
                <iframe style="width:120px;height:240px;" marginwidth="0" class="float-r" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=hardsofweb-20&marketplace=amazon&region=US&placement=B077Q42J3F&asins=B077Q42J3F&linkId=a31fdf47506e8c9539af6b79897f6281&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
                </iframe>
                <ul>
                    <li>LTE: B1 (2100) B2 (1900) B3 (1800) B5 (850) B7 (2600) B8 (900) B18 B19 (Japan 850) B26 (850+) B28 (700 APT) B38 (TD2600) B40 (TD2300) B41 (2535M a 2655M) UMTS: B1, B2, B5, B8, B19 GSM: B2, B3, B5, B8. - No tiene todas las bandas LTE de Estados Unidos, compruebe antes de comprar. </li>
                    <li>64 GB, 4 GB de RAM - microSD, hasta 256 GB - 12 MP y 5 MP cámaras traseras duales, apertura f/1.8 - Cámara frontal: 16 MP - USB - C, conector de auriculares de 0.138 in </li>
                    <li>5.7 pulgadas Full HD+, 1080p IPS Corning Gorilla Glass 3 - Batería de iones de litio no extraíble 3000 mAh </li>
                    <li>Android 8.0, Oreo - Manténgalo en movimiento con un procesador octa-core de 1,8 GHz y una velocidad 4G. </li>
                    <li>Teléfono de modelo internacional, no tendrá garantía de EE.UU. Los teléfonos móviles desbloqueados de fábrica son compatibles con la mayoría de los portadores GSM como AT&T y T-Mobile, pero no son compatibles con portadores CDMA como Verizon y Sprint</li>
                </ul>
            </div>

            <div class="box-white">
                <div class="h3-color-boton">
                    <h5 class="text-center text-subtitilo-dark">Apobob S10 teléfonos inteligentes 4G desbloqueados, teléfonos celulares HD de 6,26 pulgadas, teléfono Android 9.0, teléfono móvil Dual SIM (AT&T/T-Mobile), teléfonos con cámara trasera cuádruple, teléfono móvil de 32 GB + 3 GB de RAM, con batería de 2650 mAh (azul)  </h5>
                </div>
                <h6>Tamaño: 32 GB </h6>
                <iframe style="width:120px;height:240px;" marginwidth="0" class="float-r" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=hardsofweb-20&marketplace=amazon&region=US&placement=B08CBWVVQJ&asins=B08CBWVVQJ&linkId=afedf2c7b6a8c5cf3ac3b86ae4510c86&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
                </iframe>
                <ul>
                    <li>Smartphone de 6,3 pulgadas (19,5:9) con pantalla desbloqueada: Apobob tiene una gran pantalla de 6,3 pulgadas y utiliza HD + 540 x 1140 suave pantalla táctil de arco de agua 2.5D, no solo muestra efectos visuales perfectos, sino que también proporciona efectos táctiles suaves y sensibles. El teléfono se desplazará de ida y vuelta entre varias páginas. Hay 24 iconos de programa grandes en la misma pantalla de página. También puede encontrar la hora mostrada, el estado de la batería y la función de búsqueda de voz de la información de la tarjeta SIM wifi en la parte superior. </li>
                    <li>Para mantener el sistema estable, Apobob S20 utiliza el sistema original Android 9. No recibirás ninguna aplicación publicitaria en tu teléfono y gestionarás aplicaciones a tu manera. Los teléfonos móviles Apobob usan más de 40 idiomas en diferentes países. Funcionamiento práctico, 4 tipos de funciones de desbloqueo de teléfono seguro, función de despertador inteligente, fácil operación, no procedimientos tediosos, con Google, mapas, correo, Play Store y etc. A usted y a su familia le gustará la fuente de gran tamaño. </li>
                    <li>8 MP + 5 MP Dual Camera Smartphone: Apobob S10 Desbloqueado móvil con una cámara trasera de dos vías puede encarnar las imágenes más realistas y te trae hermosos recuerdos. La cámara trasera tiene 8 millones de píxeles y la cámara frontal tiene 5 millones de píxeles. </li>
                    <li>Batería de larga duración de 2650 mAh: Apobob teléfono inteligente desbloqueado tiene el último procesador MTK6737A/w, sistema Android con 9.0, 3 GB de RAM y 32 GB de memoria RAM, equipado con una batería de 3000 mAh, y la pantalla panorámica tiene el rango de brillo más alto. Así que tus ojos no serán apuñalados por la luz fuerte en la oscuridad, también puedes usar tu teléfono claramente en el sol. El smartphone desbloqueado de Apobobo puede seguir funcionando durante un día sin preocuparse por los problemas de la batería. </li>
                    <li>Teléfono celular con doble tarjeta de red global 2G+3G+4G: fácil de usar. Apobob teléfono móvil se desbloquea y se puede utilizar en la mayoría de las principales redes de Estados Unidos, GSM: 850/900/1800/1900, WCDMA: 850/1700/1900, LTE Band 2, Band 4, Band 5, Band 7, Band 17, Band 28A. Solo compatible con AT&T, T-Mobile (operador CDMA no utilizado), comprueba si tu transportista es compatible con este modelo de bandas antes de comprar.</li>
                </ul>
            </div>

            <div class="row  d-flex justify-content-center my-5 box-anu">

                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=hardsofweb-20&marketplace=amazon&region=US&placement=B087YY3FFB&asins=B087YY3FFB&linkId=6f1b1dd24998835521038a005d129c41&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
                </iframe>
                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=hardsofweb-20&marketplace=amazon&region=US&placement=B08JRF9L15&asins=B08JRF9L15&linkId=482f03a29b3ba6f92382c613c06c546e&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
                </iframe>
                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=hardsofweb-20&marketplace=amazon&region=US&placement=B087YY3FFB&asins=B087YY3FFB&linkId=d981a805b4919ec8cbc5ded13686e997&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
                </iframe>
                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=hardsofweb-20&marketplace=amazon&region=US&placement=B0876HQCXW&asins=B0876HQCXW&linkId=06b6b30d9c305406ad26bfc8ebd40aa9&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
                </iframe>
               
              </div>

              <div class="my-5">
                <h5 class="text-center">Fuentes</h5>
                <h6 class="text-center">Algunas imagenes que se presentan en esta pagina son descargadas del sitio: <a href="https://pixabay.com/es/" target="_blank" rel="noopener">Pixabay.com</a>  </h6>
            </div>


        </div>
        
        
        
       

        
        
        
        
        
        
        <!--colunma temas de interes -->
        <div class="col-sm-12 col-md-2"></div>
    </div>
</div>




<%- include('../../partials/footer') %>